
services:
# DATABASES
    #Postgres UserService
    userservice-db:
        image: postgres:15
        container_name: userservice-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: users
        ports:
            - "5441:5432"
        volumes:
            - userservice-data:/var/lib/postgresql/data
        networks:
            - microservices-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

    #Postgres InventoryService
    inventoryservice-db:
        image: postgres:15
        container_name: inventoryservice-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: inventory_db
        ports:
            - "5442:5432"
        volumes:
            - inventoryservice-data:/var/lib/postgresql/data
        networks:
            - microservices-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
    
    #Postgres SalesService
    salesservice-db:
        image: postgres:15
        container_name: salesservice-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: sales_db
        ports:
            - "5443:5432"
        volumes:
            - salesservice-data:/var/lib/postgresql/data
        networks:
            - microservices-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

#SERVICES
    #UserService
    userservice:
        build:
            context: ./UserService
            dockerfile: Dockerfile
        user: root
        container_name: userservice-app
        ports:
            - "5161:5161"
        environment:
            - JwtSecret=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5161
            - ConnectionStrings__UserServiceDB=Host=userservice-db;Port=5432;Database=users;Username=postgres;Password=postgres
        depends_on:
            userservice-db:
                condition: service_healthy
        networks:
            - microservices-network
        restart: unless-stopped

    #InventoryService
    inventoryservice:
        build:
            context: ./InventoryService
            dockerfile: Dockerfile
        user: root
        container_name: inventoryservice-app
        ports:
            - "5085:5085"
        environment:
            - JwtSecret=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5085
            - ConnectionStrings__InventoryServiceDB=Host=inventoryservice-db;Port=5432;Database=inventory_db;Username=postgres;Password=postgres
        depends_on:
            inventoryservice-db:
                condition: service_healthy
        networks:
            - microservices-network
        restart: unless-stopped

    #SalesService
    salesservice:
        build:
            context: ./SalesService
            dockerfile: Dockerfile
        user: root
        container_name: salesservice-app
        ports:
            - "5141:5141"
        environment:
            - JwtSecret=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5141
            - ConnectionStrings__SalesServiceDB=Host=salesservice-db;Port=5432;Database=sales_db;Username=postgres;Password=postgres
        depends_on:
            salesservice-db:
                condition: service_healthy
        networks:
            - microservices-network
        restart: unless-stopped

    #ApiGateway
    apigateway:
        build:
            context: ./ApiGateway
            dockerfile: Dockerfile
        user: root
        container_name: apigateway-app
        ports:
            - "5008:5008"
        environment:
            - JwtSecret=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_URLS=http://+:5008
        depends_on:
            userservice:
                condition: service_started
            inventoryservice:
                condition: service_started
            salesservice:
                condition: service_started
        networks:
            - microservices-network
        restart: unless-stopped
        
    
    #Frontend
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        user: root
        container_name: frontend
        ports:
            - "5173:80"
        networks:
            - microservices-network
        depends_on:
            - apigateway
        restart: unless-stopped
    
volumes:
    userservice-data:
    inventoryservice-data:
    salesservice-data:
    
networks:
    microservices-network:
        driver: bridge

