
services:
# DATABASES
    #Postgres UserService
    userservice-db:
        image: postgres:15-alpine
        container_name: userservice-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: users
        ports:
            - "5441:5432"
        volumes:
            - userservice-data:/var/lib/postgresql/data
        networks:
            - microservices-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

    #Postgres InventoryService
    inventoryservice-db:
        image: postgres:15-alpine
        container_name: inventoryservice-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: inventory_db
        ports:
            - "5442:5432"
        volumes:
            - inventoryservice-data:/var/lib/postgresql/data
        networks:
            - microservices-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5
    
    #Postgres SalesService
    salesservice-db:
        image: postgres:15-alpine
        container_name: salesservice-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: sales_db
        ports:
            - "5443:8080"
        volumes:
            - salesservice-data:/var/lib/postgresql/data
        networks:
            - microservices-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

#SERVICES
    #UserService
    userservice:
        build:
            context: ./UserService
        container_name: userservice-app
        ports:
            - "5161:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__UserServiceDB=Host=userservice-db;Port=5432;Database=users;Username=postgres;Password=postgres
        depends_on:
            userservice-db:
                condition: service_healthy
        networks:
            - microservices-network
        restart: unless-stopped

    #InventoryService
    inventoryservice:
        build:
            context: ./InventoryService
        container_name: inventoryservice-app
        ports:
            - "5085:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__InventoryServiceDB=Host=inventoryservice-db;Port=5432;Database=inventory_db;Username=postgres;Password=postgres
        depends_on:
            inventoryservice-db:
                condition: service_healthy
        networks:
            - microservices-network
        restart: unless-stopped

    #SalesService
    salesservice:
        build:
            context: ./SalesService
        container_name: salesservice-app
        ports:
            - "5141:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__SalesServiceDB=Host=salesservice-db;Port=5432;Database=sales_db;Username=postgres;Password=postgres
        depends_on:
            salesservice-db:
                condition: service_healthy
        networks:
            - microservices-network
        restart: unless-stopped

    #ApiGateway
    apigateway:
        build:
            context: ./ApiGateway
            dockerfile: Dockerfile
        container_name: apigateway-app
        ports:
            - "5008:8080"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        depends_on:
            - userservice
            - inventoryservice
            - salesservice
        networks:
            - microservices-network
        restart: unless-stopped
    
volumes:
    userservice-data:
    inventoryservice-data:
    salesservice-data:
    
networks:
    microservices-network:
        driver: bridge

